<div style="z-index:99999" class="container-fluid">
    <div id="sm-menu" class="menu-sd">
      <div class="row menu-top-smd">
        <i onclick="hideSM()" class="fa fa-times"></i>
      </div>

      <ul style="margin-top: 30px;" class="menu-itmen-sm">
        <li onclick="hideSM()" id="mm1" onlick="changeSelect(1)" class="active  mom"> <a href="index.html">
            <i class="fa fa-home"></i>
            Home</a></li>

        <li onclick="hideSM()" class="mom" id="mm2" onclick="changeSelect(2)"> <a href="aboutus.html">
            <i class="fa fa-shield"></i>
            About Us</a></li>

        <li onclick="hideSM()" class="mom" id="mm3" onclick="changeSelect(3)"> <a href="supportus.html">
            <i class="fa fa-credit-card"></i>
            Support Us</a></li>
        <li onclick="hideSM()" class="mom" id="mm4" onclick="changeSelect(4)"> <a href="gallery.html">
            <i class="fa fa-photo"></i>
            Gallery</a></li>
        <li onclick="hideSM()" class="mom" id="mm5" onclick="changeSelect(5)"> <a href="testimonial.html">
            <i class="fa fa-user"></i>
            Testimonials</a></li>
        <li onclick="hideSM()" class="mom" id="mm6" onclick="changeSelect(6)"> <a href="news.html">
            <i class="fa fa-newspaper-o"></i>
            News</a></li>
        <li onclick="hideSM()" class="mom" id="mm7" onclick="changeSelect(7)"> <a href="contactus.html">
            <i class=" fa fa-map-marker"></i>
            Contact Us</a></li>

      </ul>


    </div>

    <div class="mobile-head shado-1 visible-xs">
      <img style="width:50px;" class="logo" src="assets/images/brand/logo_af_without_bg.png">
      <h1 style="width:70%">Abhyudaya Foundation</h1>
      <b style="margin-left: 4px;">where Passion Meets Purpose</b>

      <i onclick="showSM()" class="fa fa-navicon smal-menu-ico cp"></i>
    </div>

    <header class="hidden-xs">

      <nav style="position: absolute;" class="navmenu">
        <div style="margin:auto">
          <div class="nav-content shado-1">

            <div class="container">
              <div style="height: 94px; overflow: hidden" class="col-md-4 col-sm-12">
                <img style="height: -webkit-fill-available;" class="logo" src="assets/images/brand/logo_af_without_bg.png">
                <!-- <h1 style="width:70%">Foundation</h1> -->
                <!-- <b style="margin-left: 4px;">where Passion Meets Purpose</b> -->
              </div>
              <div style="height: 94px; overflow: hidden" class="col-md-8 hidden-sm">


                <button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-donat"><i
                    class="fa fa-inr"></i> Donate Now</button>

                <ul class="top-right">
                  <li><i class="fa fa-linkedin-square"></i></li>

                  <li><i class="fa fa-google-plus-square"></i></li>
                  <li><i class="fa fa-tumblr-square"></i></li>
                  <li><i class="fa fa-instagram"></i></li>
                  <li class="bll-o"><i class="fa fa-facebook-square"></i></li>


                </ul>

                <div class="exu">
                  <i class="fa fa-phone"></i> : +91 9442719300
                  <i style="margin-left: 30px;" class="fa fa-envelope"></i> : info@Abhyudayafoundation.org
                </div>
              </div>



            </div>



            <div>


            </div>
          </div>
          <div class="my-nav shado-1">
            <div class="container">
              <ul class="nav-menu1">
                <li onclick="hideSM()" id="mm1" onlick="changeSelect(1)" class="active  mom"> <a href="index.html">
                    <i class="fa fa-home"></i>
                    Home</a></li>

                <li onclick="hideSM()" class="mom" id="mm2" onclick="changeSelect(2)"> <a href="aboutus.html">
                    <i class="fa fa-shield"></i>
                    About Us</a></li>

                <li onclick="hideSM()" class="mom" id="mm3" onclick="changeSelect(3)"> <a href="supportus.html">
                    <i class="fa fa-credit-card"></i>
                    Support Us</a></li>
                <li onclick="hideSM()" class="mom" id="mm4" onclick="changeSelect(4)"> <a href="gallery.html">
                    <i class="fa fa-photo"></i>
                    Gallery</a></li>
                <li onclick="hideSM()" class="mom" id="mm5" onclick="changeSelect(5)"> <a href="testimonial.html">
                    <i class="fa fa-user"></i>
                    Testimonials</a></li>
                <li onclick="hideSM()" class="mom" id="mm6" onclick="changeSelect(6)"> <a href="news.html">
                    <i class="fa fa-newspaper-o"></i>
                    News</a></li>
                <li onclick="hideSM()" class="mom" id="mm7" onclick="changeSelect(7)"> <a href="contactus.html">
                    <i class=" fa fa-map-marker"></i>
                    Contact Us</a></li>

              </ul>
            </div>

          </div>


        </div>
      </nav>
      <div class="header-top shado-6">
        <div style="z-index: 999999;" class="container">

          <ul class="top-left">
            <li class="rit-border"> Donate </li>
            <li class="rit-border"> Join Volunteer </li>
            <li> 9159449499 </li>
          </ul>


          <ul class="top-right">
            <li><i class="fa fa"></i></li>



          </ul>
        </div>

      </div>

    </header>







  </div>